header{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EEEEEE;
}

.containerHeader{
    display: flex;
    height: 94px;
    max-width: 1400px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}



@keyframes animation {
    from{
        transform: translateY(-4%);

    } 

    to{
        transform: translatey(0%);
    }
}

.animationMenu{
    @media screen and (max-width: 768px){
        z-index: 1;
        animation-name: animation;
        animation-duration: 0.5s;
    }
}



.containerUl{
    display: none;
    gap: 30px;
    padding: 20px;
    @media screen and (max-width: 768px){
        display: none; 
        position: absolute;
        flex-direction: column;
        background-color:#EEEEEE;
        border-radius: 4px;
        right: 5px;
        top: 80px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    } 
}



.btn-mobile{
    margin-left: 26px;
    position: absolute;
    top: 53px;
    right: 22px;
    cursor: pointer;
    @media screen and (min-width: 768px){
        display: none;
        
    }
} 



.optionsHeader{
    font-family: inherit;
    color:#000;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 21.78px;
    transition: transform 0.3s ease;
    display: inline-block;
}
.optionsHeader:hover{
    transform: scale(1.2);
}
.inputHeader{
    display: flex;
    gap: 15px;
}

.inputSearch{
    border-bottom: 1px solid #000;
    width: 100%;
    max-width: 242px;
    font-family: var(--font-poppins);
    color: #8C8C8C;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 21px;
}

.logoHeader{
    @media screen and (max-width: 768px){
        width: 115px;
        height: 115px;
    }
}
.iconsHeader{
    width: 30px;
    height: 30px;
}

